* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: beige;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  .card {
    width: 400px;
    height: 450px;
    padding: 2em 2em;
    margin: 1em 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;

    .div1 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        padding: 5px 10px;
        font-size: 16px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
    .div2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      img {
        width: 7em;
        height: 7em;
        border-radius: 50%;

        object-position: center;
        object-fit: cover;
      }
      h1 {
        font-size: 1.3em;
      }
      h2 {
        font-size: 0.8em;
        color: rgb(124, 124, 233);
      }
      h3 {
        font-size: 1em;
        color: blue;
      }
    }
    .div3 {
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;
      button {
        padding: 10px 20px;
        font-size: 10px;

        color: black;
        border: none;
        border: 1px solid rgb(99, 99, 227);

        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
    .div4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1em;
      p {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      h1 {
        font-size: 1em;
        border-top: 1px solid rgb(130, 130, 232);
        padding-top: 0.7em;
        width: 100%;
      }
      h1:hover {
        cursor: pointer;
        background-color: blue;
      }
    }
  }
}
